.span-graph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 50vh;
  overflow-y: auto;
  padding: 0.5rem;
}

.span-graph-copy {
  width: 1000px;
}