// CSS grid variables
$inputOutputTileMinW: 300px;
$inputOutputTileMaxW: 900px;
$coltot: 2;

$maxW: 1600px;
$minW: 500px;
$inputMinW: 6em;

$resultMaxH: 50vh;

// Theme vairables
$pageColorDark: #202124;
$primaryColorDark: #607D8B;
$toolbarColorDark: #303134;
$FormGroupColorDark: #212121;
$boxShadowDark: 3px 3px 3px #101517;
