<div class="span-calc-form" id="span-calc-form" [ngClass]="{'dark-theme': isDarkTheme}">
  <mat-toolbar class="toolbar" color="primary" [ngClass]="{'dark-theme': isDarkTheme}">
    <span class="toolbar__title">Span Calculator</span>
    <span class="toolbar__separator"></span>
    <div class="toolbar__print-button">
      <button mat-icon-button (click)="this.onPrintGraph()" media="print">
        <mat-icon>print</mat-icon>
      </button>
    </div>
    <div class="toolbar__download-button">
      <button mat-icon-button (click)="this.onSaveGraph()" media="save">
        <mat-icon>download</mat-icon>
      </button>
    </div>
    <div class="toolbar__theme-button">
      <button mat-icon-button (click)="onThemeChange()">
        <mat-icon *ngIf="!isDarkTheme">light_mode</mat-icon>
        <mat-icon *ngIf="isDarkTheme">dark_mode</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <div class="content-wrapper" id="content" [ngClass]="{'dark-theme': isDarkTheme}"> 
    <div class="flex-l" [ngClass]="{'is-portrait': isPortrait}"></div>

      <div class="grid" [ngClass]="{'is-portrait': isPortrait}" [@grid-wrapper]="state">
        <!-- Input ranges form group -->
    
          <form class="input-tile" [@input]="state" [ngClass]="{'is-portrait': isPortrait, 'dark-theme': isDarkTheme}" [formGroup]="this.formService.inputRangesForm!">
            
            <!-- Input: First row of elements -->
            <div class="input-tile__r1">

              <form class="input-tile__radio-button" [formGroup]="spanCalcForm">
                <mat-radio-group name="select" formControlName="selectPrimary">
                  <mat-radio-button
                    [value]="true"
                  ></mat-radio-button>
                </mat-radio-group>
              </form>
    
              <!-- Input -->
              <mat-form-field class="input-tile__input" [color]="this.formService.inputColor" [appearance]="matFieldAppearance">
                <mat-label>Input</mat-label>
                <input matInput [step]="valBoxStep" formControlName="input"/>
              </mat-form-field>

              <span></span>
    
              <!-- Signal select -->
              <mat-form-field
                class="input-tile__select input-tile__select--margin-left"
                [appearance]="matFieldAppearance"
              >
                <mat-label>Select Signal</mat-label>
                <mat-select formControlName="sigType">
                  <mat-option #g *ngFor="let item of this.sigKeys" [value]="item">{{
                    item
                  }}</mat-option>
                </mat-select>
              </mat-form-field>

            </div>
    
            <!-- Input: Second row of elements -->
            <div class="input-tile__r2">
              <mat-form-field class="input-tile__lrv" [color]="this.formService.inputColor" [appearance]="matFieldAppearance">
                <mat-label>Lower Range Value</mat-label>
                <input matInput type="number" formControlName="lrv" />
                <span matTextSuffix></span>
              </mat-form-field>
    
              <span></span>

              <mat-form-field class="input-tile__urv" [color]="this.formService.inputColor" [appearance]="matFieldAppearance">
                <mat-label>Upper Range Value</mat-label>
                <input matInput type="number" formControlName="urv" />
              </mat-form-field>
            </div>
    
            <!-- LRV_in - URV_in slider -->
            <div class="input-tile__slider">
              <mat-slider
                class="input-tile__slider--wide"
                [min]="this.formService.inputSig.range.lrv"
                [max]="this.formService.inputSig.range.urv"
                showTickMarks
                discrete
              >
                <!-- <input matSliderStartThumb (dragEnd)="this.formService.validateSliderNew($event)" #lrvSlI formControlName="lrvSl" /> -->
                <input matSliderStartThumb (dragEnd)="this.formService.validateSlider(this.formService.inputRangesForm!.controls['lrvSl'], this.formService.inputRangesForm!.controls['urvSl'].value, false)" #lrvSlI formControlName="lrvSl" />
                <input matSliderEndThumb (dragEnd)="this.formService.validateSlider(this.formService.inputRangesForm!.controls['urvSl'], this.formService.inputRangesForm!.controls['lrvSl'].value, true)" formControlName="urvSl" />
              </mat-slider>
            </div>
          </form>
    
        <!-- Span calculation output form -->
        <div class="span-result-tile" [ngClass]="{'is-portrait': isPortrait, 'dark-theme': isDarkTheme}" [@result]="state">
          <app-span-result class="span-result-tile__app" [chartData]="chartData" [isDarkTheme]="isDarkTheme"></app-span-result>
        </div>
    
        <!-- Output ranges form group -->
          <form class="output-tile" [@output]="state" [ngClass]="{'is-portrait': isPortrait, 'dark-theme': isDarkTheme}" [formGroup]="this.formService.outputRangesForm!">
          
            <div class="output-tile__r1">

              <form class="output-tile__radio-button" [formGroup]="spanCalcForm">
                <mat-radio-group name="select" formControlName="selectPrimary">
                  <mat-radio-button
                    [value]="false"
                  ></mat-radio-button>
                </mat-radio-group>
              </form>

              <span></span>

              <!-- Output -->
              <mat-form-field class="output-tile__input" [color]="this.formService.inputColor" [appearance]="matFieldAppearance">
                <mat-label>Output</mat-label>
                <input matInput [step]="valBoxStep" formControlName="output"/>
              </mat-form-field>

              <span></span>

              <!-- Signal select -->
              <mat-form-field 
                class="output-tile__select output-tile__select--margin-left" 
                [appearance]="matFieldAppearance"
              >
                <mat-label>Select Signal</mat-label>
                <mat-select formControlName="sigType">
                  <mat-option *ngFor="let item of this.sigKeys" [value]="item">{{
                    item
                  }}</mat-option>
                </mat-select>
              </mat-form-field>

            </div>
    
            <div class="output-tile__r2">

              <!-- LRV_in -->
              <mat-form-field class="output-tile__lrv" [color]="this.formService.inputColor" [appearance]="matFieldAppearance">
                <mat-label>Lower Range Value</mat-label>
                <input matInput type="number" formControlName="lrv" />
              </mat-form-field>
    
              <span></span>

              <!-- URV_in -->
              <mat-form-field class="output-tile__urv" [color]="this.formService.inputColor" [appearance]="matFieldAppearance">
                <mat-label>Upper Range Value</mat-label>
                <input matInput type="number" formControlName="urv" />
              </mat-form-field>

            </div>
            <!-- LRV_in - URV_in slider -->
            <div class="output-tile__slider">
              <mat-slider
                class="output-tile__slider--wide"
                [min]="this.formService.outputSig.range.lrv"
                [max]="this.formService.outputSig.range.urv"
                showTickMarks
                discrete
              >
              <input matSliderStartThumb (dragEnd)="this.formService.validateSlider(this.formService.outputRangesForm!.controls['lrvSl'], this.formService.outputRangesForm!.controls['urvSl'].value, false)" formControlName="lrvSl" />
              <input matSliderEndThumb (dragEnd)="this.formService.validateSlider(this.formService.outputRangesForm!.controls['urvSl'], this.formService.outputRangesForm!.controls['lrvSl'].value, true)" formControlName="urvSl" />
              </mat-slider>
            </div>
          </form>
    
      </div>
      <div class="flex-r" [ngClass]="{'is-portrait': isPortrait}"></div>

    </div>

      <app-footer [isDarkTheme]="isDarkTheme"></app-footer>
</div>

<app-print-layout [ngClass]="{'isPrinting': printService.isPrinting}" [chartData]="chartData"></app-print-layout>
