$printWidth: 8in;

.print-output{
  display: flex;
  flex-direction: column;
  align-items: center;
  &__span-plot{
    margin: 1em;
  &__graph {
    padding: 1em;
    width: $printWidth;
  }
  }
  &__table {
    margin: 1em;
    width: $printWidth;
  }
  tr {
    font-size: small;
  }
  th {
    font-size: small;
    font-weight: bold;
  }
}
