$printWidth: 8in;

.print-output{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  &__span-plot{
    margin: 1em;
  }
  &__table {
    margin: 1em;
    width: 80%
  }
  tr {
    font-size: small;
    &.mat-mdc-row {
      height: 40px !important;
    }
  }
  th {
    font-size: small;
    font-weight: bold;
  }
}
