@import '../var';

.span-result {
  &__graph-tab {
    max-height: $resultMaxH;
  }
  &__table-tab {
    max-height: $resultMaxH;
    overflow-y: auto;
  }
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-top: 1px solid #ff6384;
  border-bottom-color: #ff6384;
}

//class="mat-mdc-table mdc-data-table__table cdk-table"
:host ::ng-deep .mat-mdc-table {
  &.dark-theme {
    background-color: #212121;
  }
}