$inputOutputTileMinW: 300px;
$inputOutputTileMaxW: 900px;

// CSS grid variables
$coltot: 2;

$maxW: 1600px;
$minW: 500px;
$inputMinW: 6em;

$resultMaxH: 50vh;


// $sliderW_max: 500px;
// $sliderW_min: 80%;
// $fieldH: 90px;
// $gridRowH: 200px;
// $lrvUrvW: 35%;
// $inputMargin: 10px;
