$sliderW_max: 500px;
$sliderW_min: 80%;
$fieldH: 90px;
$gridRowH: 200px;
$lrvUrvW: 35%;
$inputMargin: 10px;

//Min and max widths for grid tiles
$inputOutputTileMinW: 300px;
$inputOutputTileMaxW: 600px;
$graphTileMinW: 600px;
$graphTileMaxW: 1200px;

// CSS grid variables
$coltot: 2;


mat-grid-list {
  height: 600px;
}

app-span-graph {
  height: 100%;
  width: 100%;
}

.toolbar {
  width: 100%;
  margin-bottom: 2px;
  &__title {
    display: block;
  }
  &__separator {
    width: 100%;
  }
  &__print-button {
    display: block;
  }
  &__theme-button {
    margin-left: 10px;
  }
}

.grid-wrapper {
  display: grid;
  grid-template-columns: repeat($coltot, 1fr);
  gap: 5px;
  grid-auto-rows: minmax(300px, auto);
}

.input-tile,
.output-tile,
.span-result-tile {
  border-width: 4px;
  border-style: solid;
  border-color: #3f51b5;
  border-radius: 2px;
  box-shadow: 3px 3px 3px #b2b2b2;

  &__output-select,
  &__input-select {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
    width: 90%;
  }
  
  &__select--margin-left {
    margin-left: $inputMargin;
  }
  
  &__input,
  &__output,
  &__select {
    justify-content: space-between;
    height: 100%;
  }
  
    &__input_lrv-urv,
    &__output_lrv-urv {
      display: flex;
      justify-content: space-around;
      width: 100%;
      top: 50%;
      left: 20px;
      right: 50%;
    }

  &__lrv {
    width: $lrvUrvW;
  }

  &__urv {
    //margin-left: $inputMargin;
    width: $lrvUrvW;
  }

  &__slider {
    display: flex;
    justify-content: center;
    // left: 25px;
    // right: 25px;
    // bottom: 10%;
    padding-right: 5%;
    padding-left: 5%;

    &--wide {
      width: 100%;
    }
  }
}

.input-tile, .output-tile {
  min-width: $inputOutputTileMinW;
  // max-width: $inputOutputTileMaxW;
}

.input-tile {
  grid-row: 3;
  grid-column: 1;
}

.output-tile {
  grid-row: 3;
  grid-column: 2;
}

.span-result-tile {
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
  min-width: $graphTileMinW;
  // max-width: $graphTileMaxW;
  &__app {
    width: 100%;
    height: 100%;
  }

}

