// $chartW: 90vw;
// $chartH: 50vh;

.span-calc-output {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  &__span-plot {
    width: 95%;
    height: 95%;
  }

}
