$chartW: 600px;
$chartH: 600px;

#divSpanPlot {
  display: block;
  align-items: start;
  width: 100%;
  height: 70%;
}

#spanPlot {

  width: $chartW;
  height: $chartH;
}

.divInputBox {

   width: $chartW;
  // height: $chartH;
}